BOT_TOKEN=
ADMIN_USER_IDS=
ALLOWED_CHAT_IDS=
SQLITE_PATH=./texas_holdem.db
DEFAULT_SMALL_BLIND=50
DEFAULT_BIG_BLIND=1000
DEFAULT_BUY_IN=10000
DEFAULT_INITIAL_BALANCE=10000
DEFAULT_DAILY_CHECKIN=1000
DEFAULT_WAIT_SECONDS=300
DEFAULT_ACTION_SECONDS=60
RAKE_PERCENT=3
RAKE_CAP_BIG_BLINDS=3
